.app {
  width: 100%;
  height: 100vh;
}

.title {
  margin: 1rem 0;
  text-align: center;
  font-size: 2rem;
  color: #3ab667;
}

.mapWrapper {
  width: 1150px;
  height: 700px;
  margin: 0 auto;
  overflow: hidden;
}